- if videos
  .row-fluid.videos
    -videos.each do |video|
      .row-fluid.video
        .span5
          = image_tag(video.small_thumb)
        .span7
          %p
            %h4
              = link_to video.title, user_path(video.user, video_id: video.id)
            %em.muted
              de
              = link_to video.user.username, user_path(video.user)
