
%table.table.table-condensed
  -videos.each_with_index do |v,i|
    %tr
      %td= i+1
      %td
        =link_to v.title, user_path(v.user, video_id: v.id)
        %small.muted
          de
          =link_to v.user.username, user_path(v.user, video_id: v.id)
