= form_for @video, url: upload_new_video_path do |f|
  = f.text_field :title, placeholder: 'Titulo del video', class: 'text_field'
  - if @video.new_record?
    %button.btn{:type => "submit"}
      = 'paso 2'
  - else
    %button.btn{:type => "submit"}
      = 'Save'
